<a href="https://colab.research.google.com/github/umrsid/Auto-DataAnalysis/blob/main/pandas_dataframe_agent_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Dataframe Agent Tutorial by BhaveshðŸ¦œ
[**Link to my YouTube Channel**](https://www.youtube.com/BhaveshBhatt8791?sub_confirmation=1)

## Installs

In [1]:
%%capture
!pip install -q langchain
!pip install -q openai

## Secrets

In [2]:
import os
os.environ['OPENAI_API_KEY'] = 'sk-'

# Imports

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("hourly_wages.csv")

In [5]:
df.head(3)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0

# Langchain

In [6]:
from langchain.llms import OpenAI
from langchain.agents import create_pandas_dataframe_agent

In [7]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0), df, verbose=True)

In [10]:
agent.run("is there any correclation between wage_per_hour column with other columns, if any so name those columns together inside a small bracket which have a correlation and also mention the correlation in percentage")

> Entering new  chain...
Thought: I need to find the correlation between the wage_per_hour column and the other columns
Action: python_repl_ast
Action Input: df.corr()
Observation:                 wage_per_hour     union  education_yrs  experience_yrs  \
wage_per_hour        1.000000  0.161766       0.381922        0.087060
union                0.161766  1.000000      -0.023886        0.117926
education_yrs        0.381922 -0.023886       1.000000       -0.352676
experience_yrs       0.087060  0.117926      -0.352676        1.000000
age                  0.176967  0.119466      -0.150019        0.977961
female              -0.205371 -0.157027       0.002031        0.075230
marr                 0.100579  0.093164      -0.035522        0.270900
south               -0.141031 -0.086275      -0.140143       -0.007407
manufacturing        0.053927  0.040185      -0.119605        0.063746
construction         0.008314  0.086748      -0.133006        0.084971

                     age    female      marr     south  manufacturing  \
wage_per_hour   0.176967 -0.205371  0.100579 -0.141031       0.053927
union           0.119466 -0.157027  0.093164 -0.086275       0.040185
education_yrs  -0.150019  0.002031 -0.035522 -0.140143      -0.119605
experience_yrs  0.977961  0.075230  0.270900 -0.007407       0.063746
age             1.000000  0.079179  0.278947 -0.038665       0.040926
female          0.079179  1.000000  0.011225 -0.021264      -0.062097
marr            0.278947  0.011225  1.000000  0.006523       0.031559
south          -0.038665 -0.021264  0.006523  1.000000      -0.062747
manufacturing   0.040926 -0.062097  0.031559 -0.062747       1.000000
construction    0.060178 -0.163457  0.043169  0.059407      -0.103489

                construction
wage_per_hour       0.008314
union               0.086748
education_yrs      -0.133006
experience_yrs      0.084971
age                 0.060178
female             -0.163457
marr                0.043169
south               0.059407
manufacturing      -0.103489
construction        1.000000
Thought: I now know the correlation between the wage_per_hour column and the other columns
Final Answer: The wage_per_hour column has a correlation with the union (16.18%), education_yrs (38.19%), experience_yrs (8.71%), age (17.70%), female (-20.54%), marr (10.06%), south (-14.10%), manufacturing (5.39%), and construction (0.83%) columns.

> Finished chain.

'The wage_per_hour column has a correlation with the union (16.18%), education_yrs (38.19%), experience_yrs (8.71%), age (17.70%), female (-20.54%), marr (10.06%), south (-14.10%), manufacturing (5.39%), and construction (0.83%) columns.'